
@import url('tiendakalamus.css');

.portadaGenero {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.portadaGenero.rock {
    background-image: url("/maqueta/img/porta.jpg");
}

.portadaGenero.pop {
    background-image: url("https://www.elcorteingles.es/entradas/blog/app/uploads/2023/01/pop.jpg");
}

.portadaGenero.metal {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Escenario_con_llamas_de_fuego_en_la_canci%C3%B3n_Sonne.jpg/1024px-Escenario_con_llamas_de_fuego_en_la_canci%C3%B3n_Sonne.jpg");
}

.portadaGenero.jazz {
    background-image: url("https://argentalk.com/wp-content/uploads/2021/05/festival-rock-nacional.jpg");
}

.contenedor {
    padding: 40px;
}

.contenedor h2 {
    margin-bottom: 20px;
}
