* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3f3f3;
    color: #222;
}

.header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}
.itemMenu a{
    color: #ffffff;
    text-decoration: none;
}
.itemMenu a{
    cursor: pointer;
    font-weight: 400;
    transition: .3s;
}
.itemMenu a:hover {
    color: #ff4d4d;
}

.iconoCarrito {
    font-size: 20px;
    cursor: pointer;
}

.iconoCarrito span {
    background-color: #ff4d4d;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 5px;
}
.contenedor {
    padding: 40px;
}

.contenedor h2 {
    margin-bottom: 20px;
}
.portada {
    height: 350px;
    background-image: url('https://i.ytimg.com/vi/lYnAK4WKbUY/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgYyhRMA8=&rs=AOn4CLBHmzb3H4GsCQVomqUjVbCMXjD5PQ');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.portada h1 {
    font-size: 48px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.portada p {
    width: 60%;
    margin-top: 15px;
    font-size: 18px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.contenedorCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
}

.producto {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: .3s;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 18px rgba(0,0,0,0.2);
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto h3 {
    margin: 15px 0 5px 0;
    font-size: 18px;
}

.precio {
    font-size: 20px;
    font-weight: 600;
    color: #ff4d4d;
    margin-bottom: 10px;
}

.agregar {
    padding: 10px 20px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.agregar:hover {
    background: #ff4d4d;
}
.carritoPanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background: white;
    border-left: 3px solid black;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0,0,0,0.2);
    overflow-y: auto;
}

.carritoPanel h2 {
    text-align: center;
    margin-bottom: 20px;
}

#lista li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #f0f0f0;
    border-radius: 6px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

#vaciar {
    width: 100%;
    padding: 10px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 25px;
    cursor: pointer;
    transition: .3s;
}

#vaciar:hover {
    background: #c0392b;
}
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.dropdown {
    position: relative;
    cursor: pointer;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    padding: 12px 0;
    border-radius: 8px;
    list-style: none;
    display: none;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    min-width: 160px;
    z-index: 1000;
}

.submenu li a{
    padding: 10px 20px;
    color: #333;
    font-weight: 500;
    white-space: nowrap;
}

.submenu li:hover {
    background: #efefef;
}
.dropdown:hover .submenu,
.submenu:hover {
    display: block;
}
.dropdown:hover {
    background: rgba(0,0,0,0.05);
    border-radius: 6px;
    transition: background 0.2s;
}


.encabezado-ofertas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.buscador input {
    width: 260px;
    padding: 10px 14px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: 0.3s;
}

.buscador input:focus {
    border-color: #6b4eff;
    box-shadow: 0 0 5px rgba(107, 78, 255, 0.5);
}